
<h1 class='text-center'>Edit Room</h1>

<div class="row">
  <div class="col-md-6 offset-3">
    
    <%= form_with model: @room  do |f| %>

      <%= f.label :room_num %>
      <%= f.text_field :room_num, class: 'form-control' %>
    
      <%= f.label :room_type %>
      <%= f.text_field :room_type, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.label :image%>
      <%=  f.file_field :image, class: 'form-control'%>
    

      <%= f.submit "edit room", class: 'mt-2 btn btn-primary' %>
    
    <% end %>

  </div>
</div>

