

<h1>Available rooms</h1>


		<% @rooms.each do |room| %>
			
 
			

			<% if room.image.attached? %>
			<%= image_tag (room.image) , :width=> "30%" ,:height=> "30%" %>
		<%end%><br>
		
				<%=room.room_num%><br>
				<%=room.room_type%><br>
			     <%=room.price%><br>

				
				
				 <%= link_to 'book room',new_booking_path(room_id: room.id), class: "btn btn-success" %><br>
				
				 
				 <%if current_user.admin.present?%>
				 <%= link_to 'edit',edit_room_path(room.id), class: "btn btn-success"%>
				 
				<%= link_to 'remove room',room_path(room.id), class: "btn btn-danger", method: :delete, data: { confirm: "are you want to delete this room?"} %><br> 
		         <%end%>	
				 
		<%end%>
		
  
 
				 

<%if current_user.admin.present?%>

<%=link_to "Add rooms", new_room_path%>
<%end%>


